// Skip Link
// this makes it off the page, and available for non sighted users/non mouse users to tab and return to main content, it needs to be visible when it receives a focus. were just hiding it, but when it focuses its back on the page. skip link anchor tag has an id to go to main content
.skip-link{
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $solidWhite;
    color: black;
    z-index: 10;
    &:focus{
        left: 0;
    }
}

// Announcements
.announcements{
    text-align: center;
    padding: 10px 0;
}

// Nav Bar
.nav-bar{
    position: sticky;
    top:0;
    border-top: 1px solid rgba(8, 75, 109, 0.08);
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    background-color: $solidWhite ;

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    //takes off the checkbox, checkbox does not need to be checked because the label can since its connected with the "for attribute"
    input[type=checkbox]{
        opacity: 0;
        position: absolute;
        &:checked  ~ .slide-out-nav{
            left: 0;
        }
    }
}
.menu-button{
    cursor: pointer;
}

.search-cart{
    display: flex;
    .menu-icon, .bag{
        margin-right: 15px;
    }
    .bag{
        display: flex;
    }
    .counter {
        display: flex;
        align-items: center;
        p{
            width: 24px;
            height: 24px;
            background-color: $primary;
            border-radius: 50%;
            color: $solidWhite;
            text-align: center;
        }
    }
}

// Slide Out Nav
.slide-out-nav{
   background-color: purple;
   position: fixed;
   top: 0;
   left: -506px;
   height: 100vh;
   width: 100%;
   max-width: 506px;
   color: $solidWhite;
   font-family: $headingFont;
   padding: 35px 50px;
   transition: 0.75s;
}
.main-menu{
    a{
        font-family: $headingFont;
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: rgba($color: $solidWhite, $alpha: 1);
        transition: 0.3s;
        &:hover, &:focus{
            color: rgba($color: $solidWhite, $alpha: 0.5);
        }
    }
}
.button-container{
    display: flex;
    justify-content: flex-end;
}
.menu-close{
    color: $solidWhite;
    font-size: 1.2rem;
}
