// Categories

.categories{
    margin-top: 90px;
}
.category-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item-one{
        background-color: $quinary;
    }
    .item-two{
        background-color: $secondary;
    }
    .item-three{
        background-color:$tertiary;
    }
    .item-four{
        background-color: $quaternary;
    }
    .items{
        border-radius: 10%;
        width: calc(45% - 50px);
        margin: 50px 25px 25px;
        padding: 40px;
        text-align: center;
        transition: 0.3s;
        img{
            border-radius: 10%;
            margin-bottom: 15px;
        }
        &:hover{
            transform: scale(0.9);
        }
    }
}
// Let Them Play
.play{
    background-image: url(../assets/background-image.jpg);
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
    }
    .play-content{
        width: 60%;
        border: 24px solid $secondary;
        background-color: $solidWhite;
        padding:60px;
        text-align: center;
    }

}